<!doctype html>
<html lang="vi">
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/page/new-job.css">
</head>
<body>
<%- include('../bar/nav-bar-manager') %>
<div class="container" id="first-form">
    <form method="post" autocomplete="off" action="/employer/manager/new-job/post-job" id="job-form">
        <p class="d-flex justify-content-lg-start">
            <span class="fa fa-briefcase"/>
            MÔ TẢ CÔNG VIỆC
        </p>
        <div class="form-group form-row text-right">
            <label for="pos" class="col-sm-3">Chức Danh</label>
            <div class="col-sm-9">
                <input id="pos" type="text" class="form-control" placeholder="Employee Manager..." name="pos">
                <% if (error.pos) { %>
                <small class="text-danger"><%= error.pos.msg %></small>
                <% } %>
            </div>
        </div>
        <div class="form-group form-row text-right">
            <label for="rank" class="col-sm-3">Cấp Bậc</label>
            <div class="col-sm-9">
                <select id="rank" class="form-control " name="rank">
                    <%- include('../items/rank-item') %>
                </select>
                <% if (error.rank) { %>
                <small class="text-danger"><%= error.rank.msg %></small>
                <% } %>
            </div>
        </div>
        <div class="form-group form-row text-right">
            <label for="pro" class="col-sm-3">Ngành Nghề</label>
            <div class="col-sm-9">
                <select id="pro" class="form-control "
                        data-live-search="true" data-size="4" name="pro">
                    <%- include('../items/profess-item') %>
                </select>
                <% if (error.pro) { %>
                <small class="text-danger"><%= error.pro.msg %></small>
                <% } %>
            </div>
        </div>
        <div class="form-group form-row text-right">
            <label for="workplace" class="col-sm-3">Nơi Làm Việc</label>
            <div class="col-sm-9">
                <select id="workplace" class="form-control "
                        data-size="4" data-live-search="true" name="workplace">
                    <%- include('../items/city-item') %>
                </select>
                <% if (error.workplace) { %>
                <small class="text-danger"><%= error.workplace.msg %></small>
                <% } %>
            </div>
        </div>
        <div class="form-group form-row text-right">
            <label class="col-sm-3">Mức Lương</label>
            <div class="col-sm">
                <input type="number" class="form-control" placeholder="Nhập mức lương tối thiểu" name="minSalary">
                <% if (error.minSalary) { %>
                <small class="text-danger"><%= error.minSalary.msg %></small>
                <% } %>
            </div>
            <div class="col-sm">
                <input type="number" class="form-control" placeholder="Nhập mức lương tối đa" name="maxSalary">
                <% if (error.maxSalary) { %>
                <small class="text-danger"><%= error.maxSalary.msg %></small>
                <% } %>
            </div>
        </div>
        <div class="form-group form-row text-right">
            <label class="col-sm-3">Mô Tả</label>
            <div class="col-sm-9">
                <textarea class="form-control" name="description" rows="5"></textarea>
                <% if (error.description) { %>
                <small class="text-danger"><%= error.description.msg %></small>
                <% } %>
            </div>
        </div>
        <div class="form-group form-row text-right">
            <label class="col-sm-3">Yêu Cầu Công Việc</label>
            <div class="col-sm-9">
                <textarea class="form-control" name="require" rows="5"></textarea>
                <% if (error.require) { %>
                <small class="text-danger"><%= error.require.msg %></small>
                <% } %>
            </div>
        </div>
        <div class="form-group form-row text-right">
            <label class="col-sm-3">Thẻ Từ Khóa</label>
            <div class="col-sm-9">
                <select class="form-control"
                        data-live-search="true" data-action="true" data-size="4" name="tag" multiple>
                    <%- include('../items/lang-item') %>
                </select>
                <% if (error.tag) { %>
                <small class="text-danger"><%= error.tag.msg %></small>
                <% } %>
            </div>
        </div>
        <div class="form-group form-row text-right">
            <label class="col-sm-3">Nhận Hồ Sơ Bằng Ngôn Ngữ</label>
            <div class="col-sm-9">
                <select class="form-control"
                        data-live-search="true" data-size="4" name="lang">
                    <%- include('../items/lang-item') %>
                </select>
                <% if (error.lang) { %>
                <small class="text-danger"><%= error.lang.msg %></small>
                <% } %>
            </div>
        </div>
        <div class="form-group form-row text-right">
            <label class="col-sm-3">Người Liên Hệ</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="contact">
                <% if (error.contact) { %>
                <small class="text-danger"><%= error.contact.msg %></small>
                <% } %>
            </div>
        </div>
        <div class="form-group form-row text-right">
            <label class="col-sm-3">Địa Chỉ Email Nhận Hồ Sơ</label>
            <div class="col-sm-9">
                <input type="text" class="form-control " name="email">
                <% if (error.email) { %>
                <small class="text-danger"><%= error.email.msg %></small>
                <% } %>
            </div>
        </div>

        <!-- COMPANY INFO FORM -->
        <div class="d-flex">
            <p class="mr-auto">
                <span class="fa fa-briefcase"/>
                CÔNG TY
            </p>
            <a class="ml-auto">
                <span class="fa fa-check"/>
                Hoàn Tất
            </a>
        </div>
        <div class="form-group form-row text-right">
            <label class="col-sm-3">Tên Công Ty</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="name" value=<%=input.company_name?input.company_name.S:""%> >
                <% if (error.name) { %>
                <small class="text-danger"><%= error.name.msg %></small>
                <% } %>
            </div>
        </div>
        <div class="form-group form-row text-right">
            <label class="col-sm-3">Địa Chỉ Công Ty</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="address" value=<%=input.address?input.address.S:""%>>
                <% if (error.address) { %>
                <small class="text-danger"><%= error.address.msg %></small>
                <% } %>
            </div>
        </div>
        <div class="form-group form-row text-right">
            <label class="col-sm-3">Thông Tin Công Ty</label>
            <div class="col-sm-9">
                <textarea class="form-control" name="info" rows="5"></textarea>
                <% if (error.info) { %>
                <small class="text-danger"><%= error.info.msg %></small>
                <% } %>
            </div>
        </div>
        <div class="form-group form-row text-right">
            <label class="col-sm-3">Phúc Lợi Công Ty</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="benefit" value=<%=input.benefits?input.benefits.S:""%> >
                <% if (error.benefit) { %>
                <small class="text-danger"><%= error.benefit.msg %></small>
                <% } %>
                <a class="float-right" href="#" name="more-benefit">Thêm phúc lợi</a>
            </div>
        </div>
        <div class="form-group form-row text-right">
            <label class="col-sm-3">Logo</label>
            <div class="col-sm-9">
                <input type="file" class="float-left" name="logo">
                <% if (error.logo) { %>
                <small class="text-danger"><%= error.logo.msg %></small>
                <% } %>
            </div>
        </div>
    </form>
</div>

<!-- POST JOB BUTTON -->
<div class="container fixed-bottom">
    <input type="button" class="btn btn-success float-md-right" value="Đăng bài" name="submit">
</div>
</body>
<footer>
    <script type="text/javascript" src="/javascripts/page/new-job.js"></script>
</footer>
</html>